.container {
  margin: 0;
  padding: 0;
}
h1,h4{
  display: inline;
}

.logo {
  font-size: 2rem;
}
nav div a h4 {
  color: #edcd1f;
}

.redtext {
  color: red;
}
.back1, .back2, .back5 {
height: 1vh;
width: 100vh;
margin: 0 auto;
}
.howSection {
  background-color: black;
}
.fa-check-circle, .fa-envelope, .fa-mobile, .fa-dot-circle-o {
  color: #edcd1f;
}
.parallax-container{
  height: 63vh !important;;
}
.card .card-image  {
  -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
}

.centrado_Titulo{
  color:  #edcd1f;
  text-align: center;
  
}

.brand-logo{
  padding: 2rem;
}




/* INICIO Espaciado entre precio pesos y dolar */
.espaciado {
  margin-left: 40px; /* Ajusta el valor según necesites */
}
/* FIN Espaciado entre precio pesos y dolar */


.container {
  background-color: #f0f0f0; /* Color de fondo del contenedor */
  padding: 20px; /* Espacio interno alrededor del contenido */
  border-radius: 8px; /* Esquinas redondeadas, opcional */
  text-align: center; /* Centra el contenido dentro del contenedor */
}

.tamanoNostros {
  text-align: center;

  font-style: italic;
  font-size: 1.5em; /* Un poco más pequeña que el tamaño de fuente por defecto */
  color: #6495ED; /* Un color agradable, puedes cambiarlo según tu preferencia */
}
/* img {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
} */
footer .page-footer .black .row{
  margin: 0;
  padding: 0;
  width: 100vh;
  position: relative;
overflow: hidden;
}

.title1{
  font-family: 'Pacifico', cursive;
  font-size: 200px;
}

.title2 {
  font-family: 'Cambay', sans-serif;
  font-size: 100px;
}

a.carousel-item.active {
    width: 50%;

}
div.carousel {
  margin: 0;
  padding: 0;
  height: 50vh;
}

.soluciones-titulo {
  text-align: center; /* Alinea el título a la izquierda */
  margin-bottom: 20px; /* Espacio debajo del título */
}

.soluciones-lista {
  text-align: center; /* Alinea el contenido a la izquierda */
}

.service-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Ajusta el margen según sea necesario */
}

.service-item i {
  margin-right: 8px; /* Ajusta el margen según sea necesario */
}


.Titulo_TecnoArq {
  background-color: black;
  color: white; /* Asegura que el texto sea legible sobre el fondo negro */
  padding: 20px; /* Ajusta el padding según sea necesario */
  text-align: center; /* Centra el texto horizontalmente */
}


/* PRUEBA DESPLEGABLE NUEVO */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .row {
  display: flex;
  padding: 8px;
}

.dropdown-content .column {
  flex: 33.33%;
  padding: 5px;
  text-align: left;
}

.dropdown-content .column-header {
  font-weight: bold;
}

.dropdown-content .item {
  border-top: 1px solid #ddd;
  padding-top: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/* INICIO DESPLEGABLE SERVICIOS*/

/* APPLE */
.collapsible-contentApp {
  display: none;
  padding: 10px;
  border: 1px solid #cccccc;
  margin-top: 10px;
}

.collapsible-contentApp .row {
  display: flex;
  justify-content: space-between;
}
.collapsible-contentApp .column {
  flex: 1;
}

.collapsible-buttonApp{
  color:  #edcd1f;
}


/* SANSUNG */
.collapsible-content {
  display: none;
  padding: 10px;
  border: 1px solid #cccccc;
  margin-top: 10px;
}

.collapsible-content .row {
  display: flex;
  justify-content: space-between;
}
.collapsible-content .column {
  flex: 1;
}

.collapsible-button{
  color:  #edcd1f;
}

/* XIAOMI */
.collapsible-contentXia {
  display: none;
  padding: 10px;
  border: 1px solid #cccccc;
  margin-top: 10px;
}

.collapsible-contentXia .row {
  display: flex;
  justify-content: space-between;
}
.collapsible-contentXia .column {
  flex: 1;
}

.collapsible-buttonXia{
  color:  #edcd1f;
}

/* MOTO */
.collapsible-contentMot {
  display: none;
  padding: 10px;
  border: 1px solid #cccccc;
  margin-top: 10px;
}

.collapsible-contentMot .row {
  display: flex;
  justify-content: space-between;
}
.collapsible-contentMot .column {
  flex: 1;
}

.collapsible-buttonMot{
  color:  #edcd1f;
}

/* Auricular */
.collapsible-contentAuricular {
  display: none;
  padding: 10px;
  border: 1px solid #cccccc;
  margin-top: 10px;
}

.collapsible-contentAuricular .row {
  display: flex;
  justify-content: space-between;
}
.collapsible-contentAuricular .column {
  flex: 1;
}

.collapsible-button_rrr{
  color:  #edcd1f;
}

/*CONSOLAS*/
.collapsible-Consolas {
  display: none;
  padding: 10px;
  border: 1px solid #cccccc;
  margin-top: 10px;
}

.collapsible-Consolas .row {
  display: flex;
  justify-content: space-between;
}
.collapsible-Consolas .column {
  flex: 1;
}

.collapsible-buttonConsolas{
  color:  #edcd1f;
}


/* FIN DESPLEGABLE SERVICIOS*/

.button-desple{
  color: #edcd1f;
}

/* footer */
.color_number{
  color:#ffffff;
  text-decoration-line: underline;
}

.step{
  transition: opacity 0.3s ease;
}

li.row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Evita que los elementos salten de línea */
}

.espaciado2 {
  margin: 0 10px;
}

button.agregarArticulo {
  padding: 5px 10px;
}
  /* .collapsible-header {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    /* align-items: center;    Centrar verticalmente */
    /* text-align: center;     Asegurar el texto centrado */
    /* font-size: 1.2rem;      Ajustar tamaño del texto si es necesario */
  /* }  */

  .collapsible-header {
    display: flex;
    justify-content: space-between; /* Espacio entre el texto y la flecha */
    align-items: center;           /* Centra verticalmente los elementos */
    text-align: center;            /* Asegura el centrado del texto */
    padding: 0 1rem;               /* Espaciado interno */
    font-size: 1.2rem;             /* Ajusta el tamaño del texto si es necesario */
  }

  .collapsible-header span {
    flex: 1; /* Hace que el texto ocupe todo el espacio disponible */
    text-align: center; /* Centra el texto horizontalmente */
  }

  .collapsible-header i{
    margin-right: 0px !important;
  }

  .arrow-icon {
    transition: transform 0.3s ease; /* Animación suave para la rotación */
  }

  .arrow-icon.rotate {
    transform: rotate(180deg); /* Rotación hacia arriba */
  }


  /* CSS DE CARRITO DE COMPRAS */
  #carritoCompra {
    font-size: 1.55rem; /* Ajusta este valor al tamaño deseado */
  }
   /* CSS FIN CARRITO DE COMPRAS */
  

   /* INICIO ESTILOS MAS Y MENOS Y ELIMINAR DEL CARRITO */
  .estiloCarrito {
    display: inline-block; /* Para asegurarse de que los estilos del cuadro funcionen */
    /* border: 2px solid blue; Borde azul */
    border: 2px #26a69a;
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 10px; /* Espaciado interno */
    background-color: rgb(53, 135, 135); /* Fondo azul claro */
    color:  white; /* Texto blanco */
    text-align: center; /* Centrar el texto */
    font-size: 16px; /* Tamaño de letra */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    transition: background-color 0.3s ease; /* Animación al pasar el ratón */
  }

  .estiloCarrito:hover {
    background-color: #26a69a; /* Cambiar el color de fondo al pasar el ratón */
    color: white; /* Asegurarse de que el texto siga siendo visible */
  }
   /* FIN ESTILOS MAS Y MENOS Y ELIMINAR DEL CARRITO */

  .marginButtonSave{
    margin-bottom: 0px !important;
  }

  .marginButtonDelete{
    margin-left: 22px !important;
  }
 @media only screen and (max-width: 700px) {
  .container{
    padding: 0px !important;
    width: 100% !important;
  }

  .marginButtonSave{
    margin-bottom: 6px !important;
  }

  .marginButtonDelete{
    margin-left: 0px !important;
  }

  .collapsible-body{
    padding: 0px !important;
  }
}

@media (max-width: 700px) {
  .btn-small {
    height: 28px !important;
    line-height: 28px !important;
    font-size: 10px !important;
  }

  .btn-small i {
    font-size: 14px;
  }

  .modal{
    margin: 0px !important;
    width: 100% !important;
  }

  .modal-content{
    padding: 5px !important;
  }

  h4{
    font-size: 12px;
  }

  #containerArtsCarrito.row, modal-footer.row{
    margin-bottom: 5px !important;
  }
}

.rowCarrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}


.detallesCarrito {
  display: flex;
  align-items: center;
  flex: 2;
}


.nombreCarrito {
  flex: 2;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.precioCarrito {
  flex: 0.5;
}

.cantidadCarrito {
  flex: 0.5;
  text-align: center;
}



@media (max-width: 700px) {
  .rowCarrito {
    flex-direction: column;
    align-items: flex-start;
  }

  .detallesCarrito {
    width: 100%;
    justify-content: space-between;
  }

}

.accionesCarrito {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: auto;
}


.accionesCarrito span,
.accionesCarrito button {
  width: 40px;
  height: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}


@media (max-width: 700px) {
  .accionesCarrito {
    display: flex !important;
    justify-content: flex-start !important;
    width: auto !important;
    flex-wrap: nowrap !important;
  }

  .accionesCarrito span,
  .accionesCarrito button {
    width: 25px !important;
    height: 25px !important;
  }
  
  .btn-floating.btn-small i {
    line-height: 25px !important;
  }

  .btn-floating i {
    width: initial !important;
  }
}

.btn-small .material-icons{
  line-height: 32.4px !important;
}

.cabeceraModal{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}